# Python - informações básicas

### *números e operações*

In [2]:
1

1

In [5]:
.5

0.5

In [6]:
2 * 3

6

In [7]:
1 / 2

0.5

In [8]:
2 ** 4

16

In [9]:
4 % 2

0

In [10]:
5 % 2

1

In [11]:
(2 + 3) * (5 + 5)

50

### Atribuição de Variáveis

In [12]:
var = 2

In [13]:
var

2

In [14]:
x = 2
y = 3

In [15]:
x + y

5

In [16]:
x = x+x

In [17]:
x

4

In [18]:
x

4

In [19]:
x = x+x

In [20]:
x

8

***Se atribuir de novo uma fórmula o valor anterior de x é atribuído a cada x***

In [21]:
x = x+x

In [22]:
x

16

### *Texto*

In [24]:
'single quote'

'single quote'

In [25]:
"double quote"

'double quote'

### *Printing*

In [26]:
x = 'hello'

In [27]:
x

'hello'

In [28]:
print(x)

hello

In [32]:
num = 12
name = 'Bertola'

In [33]:
print('My number is: {one}, and my name is: {two}'.format(one=num, two=name))

My number is: 12, and my name is: Bertola

In [34]:
print('My number is: {}, and my name is: {}'.format(num, name))

My number is: 12, and my name is: Bertola

### *Listas*

In [35]:
[1,2,3]

[1, 2, 3]

In [36]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [37]:
my_list = ['a','b','c']

In [38]:
my_list.append('d')

In [39]:
my_list

['a', 'b', 'c', 'd']

In [40]:
my_list[0]

'a'

In [41]:
my_list[1]

'b'

In [42]:
my_list[1:]

['b', 'c', 'd']

In [43]:
my_list[0:]

['a', 'b', 'c', 'd']

In [44]:
s='Bertola'

In [45]:
s[0]

'B'

In [46]:
s[1]

'e'

In [47]:
s[:3]

'Ber'

In [48]:
s[:4]

'Bert'

In [49]:
s[3:5]

'to'

In [51]:
s[4:7]

'ola'

In [60]:
my_list[0]='new'

In [64]:
my_list

['new', 'b', 'c', 'd']

In [69]:
nest = [1,2,[3,4]]

In [70]:
nest[2]

[3, 4]

In [71]:
nest[2][1]

4

In [73]:
nest = [1,2,3,[4,5,['target']]]

In [74]:
nest[3][2]

['target']

In [75]:
nest[3][2][0]

'target'

In [76]:
print(nest[3][2][0])

target

### *Dicionários*

*Dictionaries are sometimes found in other languages as “associative memories” or “associative arrays”. Unlike sequences, which are indexed by a range of numbers, dictionaries are indexed by keys, which can be any immutable type; strings and numbers can always be keys*

In [78]:
d = {'key1':'value', 'key2':123}

In [79]:
d['key1']

'value'

In [80]:
d['key2']

123

In [81]:
d={'k1':[1,2,3]}

In [82]:
d['k1']

[1, 2, 3]

In [83]:
d['k1'][2]

3

In [84]:
d = {'k1':{'innerkey':[1,2,3]}}

In [85]:
d['k1']

{'innerkey': [1, 2, 3]}

In [86]:
d['k1']['innerkey']

[1, 2, 3]

In [87]:
d['k1']['innerkey'][1]

2

### *Tuples*

*Diferente das listas, as tuplas usam parenteses ou só o sinal de igual. São uma quantidade de números ou strings separadas por vírgulas. São imutáveis mas podem ter conteúdo mutável.*

In [92]:
t = 1,2,3

In [93]:
t[0]

1

In [94]:
t[0] = 9

TypeError: 'tuple' object does not support item assignment

In [95]:
v = ('A', 'B', 'C')

In [96]:
u = v,t

In [97]:
u

(('A', 'B', 'C'), (1, 2, 3))

In [98]:
x = ([1,2,3],[9,8,7])

In [99]:
x

([1, 2, 3], [9, 8, 7])

In [100]:
x[0]

[1, 2, 3]

In [101]:
x[0] = [99]

TypeError: 'tuple' object does not support item assignment

In [102]:
x[0][0]

1

In [103]:
x[0][0] = 88

In [104]:
x

([88, 2, 3], [9, 8, 7])

### *Sets (Conjuntos)*
*Conjuntos somente contém valores únicos*

In [105]:
{1,2,2,2,2,3,3,3,5,5,5}

{1, 2, 3, 5}

In [106]:
set([1,2,2,2,2,4,4,4,6,6,6,6])

{1, 2, 4, 6}

In [1]:
s = {1,2,3}

*Se quiser adicionar valores à lista usa-se o método add():*

In [4]:
s.add(5)

In [5]:
s

{1, 2, 3, 5}

In [6]:
s.add(5)

In [7]:
s

{1, 2, 3, 5}

In [8]:
1 > 2

False

In [9]:
1 < 2

True

In [10]:
1 <= 1

True

In [11]:
1 == 1

True

In [12]:
1 != 1

False

In [13]:
1 != 2

True

In [14]:
'oi' == 'tchau'

False

In [15]:
'oi' == 'oi'

True

In [16]:
1 < 2 and 2 < 3

True

In [17]:
1 < 2 and 2 > 3

False

In [18]:
1 < 2 or 2 < 3

True

In [21]:
(1 < 2) and (2 < 3)

True

## Estruturas Condicionais

In [22]:
if 1 < 2:
    print('sim')

sim

**O espaço antes do print é necessário no Python. O sistema usa espaços em branco para separar blocos de código e não colchetes como em outras linguagens**

In [23]:
if True:
    x = 2 + 2

In [24]:
x

4

In [26]:
if  1 == 2:
    print('First')
else:
    print('Last')

Last

In [27]:
if  1 == 2:
    print('First')
elif 3 == 3:
    print('Middle')
else:
    print('Last')

Middle

*O comando **elif** quando é VERDADEIRO sai da estrutura condicional do if*

In [28]:
if  1 == 2:
    print('First')
    elif 4 == 4:
        print('second')
elif 3 == 3:
    print('Middle')
else:
    print('Last')

SyntaxError: invalid syntax (<ipython-input-28-bdca56e7e793>, line 3)

***foi errado porquee o comando elif está fora da identação correta***

In [29]:
if  1 == 2:
    print('First')
elif 4 == 4:
    print('second')
elif 3 == 3:
    print('Middle')
else:
    print('Last')

second

## Estruturas de loops

In [30]:
seq = [1,2,3,4,5]

In [31]:
for item in seq:
    print(item)

1
2
3
4
5

In [32]:
for i in seq:
    print(i)

1
2
3
4
5

In [33]:
for item in seq:
    print('hello')

hello
hello
hello
hello
hello

In [34]:
i = 1
while i < 5:
    print('i is {}'.format(i))
    i = i + 1

i is 1
i is 2
i is 3
i is 4

In [35]:
for x in seq:
    print(x)

1
2
3
4
5

In [36]:
range(0,5)

range(0, 5)

In [37]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [42]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [43]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

*List comprehension*

In [44]:
x = [1,2,3,4]

In [46]:
out=[]
for num in x:
    out.append(num**2)

In [53]:
print(out)

[1, 4, 9, 16]

*ao invés de usar o **for**, a forma abaixo faz a mesma coisa:*

In [49]:
[num**2 for num in x]

[1, 4, 9, 16]

In [50]:
out = [num**2 for num in x]

In [51]:
out

[1, 4, 9, 16]

# FUNÇÕES

In [54]:
def my_func(param1):
    print(param1)

In [55]:
my_func('olá')

olá

In [58]:
def my_func(name):
    print('Olá ' +name)

In [59]:
my_func('José')

Olá José

In [60]:
def my_func(name='Default Name'):
    print('Olá ' +name)

In [61]:
my_func('José')

Olá José

In [62]:
my_func()

Olá Default Name

In [63]:
def square(num):
    return num**2

In [64]:
output = square(2)

In [65]:
output

4

*o texto explicativo da função pode ser colocado entre aspas triplas:*

In [66]:
def square(num):
    """
    ESTE É UM TEXTO EXPLICATIVO.
    E QUE PODE SER MUITO LONGO.
    ESSA FUNÇÃO RETORNA O QUADRADO DO NÚMERO
    """
    return num**2

*digite o nome da função sem parenteses e depois aperte SHIFT + TAB para obter informações sobre a função:*

In [68]:
square